<% provide(:title, 'All RIGs') %>

<h1>All Rig <%= "Code".pluralize(@rigs.count) %> <span style='color: #7e8aa2;'>(<%= @rigs.count %>)</span></h1>

<div class='row'>
  <div class='col-md-12 col-sm-12 col-xs-12'><%= will_paginate %></div>

  <ul class="index rig-index">
    <% @rigs.each do |rig| %>
      <li class="row rig-block">   
        <aside class="col-md-1 col-sm-2 col-xs-2">
          <i class="glyphicon glyphicon-cog rig-avatar" aria-hidden="true"></i>          
        </aside>        
        <div class="col-md-9 col-sm-6 col-xs-4 rig-title"><strong><%= rig.code.titleize %></strong></div>  
        <div class="col-md-1 col-sm-2 col-xs-3 disappear text-right">
            <%= link_to 'Edit', edit_rig_path(rig), class: 'btn btn-default btn-block btn-sm' %>  
        </div>
        <div class="col-md-1 col-sm-2 col-xs-3 disappear text-right">
          <%= link_to 'Delete', rig, method: :delete, data: { confirm: "You want to remove this rig. \n\nAre you sure?" }, 
                                     class: 'btn btn-default btn-block btn-sm' %>
        </div> 
       
      </li>
    <% end %>
  </ul>

  <div class='col-md-12 col-sm-12 col-xs-12'><%= will_paginate @rigs %></div>
</div>
